$navbar-text-color: #ffffff;
$navbar-text-color-mobile: #000000;
$navbar-background-color: #110606c4;
$navbar-background-color-mobile: #eaeaea; 
$shadow-color-collapse: #555555;
$navbar-split-color-collapse: #b8b8b8;
$footer-color: #f2f0ea;
$footer-text-color: #000000;

$breakpoint-mobile: 425px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;

$slideshow-maxheight: 400px;
$slideshow-minheight: 200px;